.header > h1 {
  margin-top: 0;
  padding: 50px 0 0 60px;
}

.search-bar {
  padding: 20px;
  top: 30px;
  right: 300px;
  display: flex;
  position: absolute;
  flex-direction: column;
}
.search-bar > input {
  border: none;
  font-size: 600;
  padding: 15px 20px;
  height: fit-content;
  border-radius: 12px;
}

.searched-items {
  z-index: 3;
  cursor: pointer;
  margin-top: 10px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 12px;
  flex-direction: column;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(255, 255, 255, 0.25);
}

.searched-items > div {
  height: 40px;
  border-radius: 12px;
  padding: 0.5em 0 0 1em;
}
.searched-items > div:hover {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

@media only screen and (max-width: 768px) {
  .header > h1 {
    display: none;
  }
  .search-bar {
    display: none;
  }
}
