.homepage {
  height: 100vh;
  overflow: auto;
}
.poke-HW {
  position: absolute;
  top: 30vh;
  left: 10vw;
  margin-right: 30px;
}
.poke-image {
  width: fit-content;
  margin: 0 0 0 25vw;
}
.poke-bio {
  position: absolute;
  top: 30vh;
  left: 70vw;
}
.poke-bio > h1 {
  margin: 0;
  font-size: 3em;
}
.poke-bio > h2 {
  margin: 0 0 20px 0;
  font-size: 2em;
}
.type-container {
  display: flex;
  width: fit-content;
}
.type {
  padding: 5px;
  display: flex;
  margin-right: 5px;
  border-radius: 50%;
  background-color: white;
}

.slider {
  top: 30vh;
  right: 40px;
  display: flex;
  margin-left: 20em;
  position: absolute;
  flex-direction: column;
}
.slider > button {
  margin: 5px;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  font-size: larger;
  background-color: transparent;
}
.slider-btn-1:hover,
.slider-btn-2:hover,
.slider-btn-4:hover,
.slider-btn-5:hover {
  cursor: pointer;
}
.slider-btn-2,
.slider-btn-4 {
  border: 0;
  opacity: 0.75;
}
.slider-btn-3 {
  border-radius: 10px;
  border: 1px solid black;
}
.slider-btn-3:hover {
  cursor: default;
}
.slider-btn-1,
.slider-btn-5 {
  border: 0;
  opacity: 0.5;
}

.poke-biodata {
  display: flex;
  position: absolute;
  bottom: 0;
}
.poke-stats {
  padding: 30px 0 0 50px;
  width: 45%;
}
.poke-stats > div {
  display: flex;
  justify-content: space-evenly;
}
.poke-stats > div > div {
  width: 10em;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px) saturate(170%);
  background-color: rgba(255, 255, 255, 0.25);
}
.poke-info {
  width: 55%;
  padding: 0 0 0 60px;
}
.poke-info > p {
  padding: 0 150px 0 0;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .slider {
    top: 0;
    right: 60px;
    flex-direction: row;
  }
  .poke-bio {
    top: 8vh;
    left: 6vw;
  }
  .poke-bio > h1 {
    font-size: 2.5em;
  }
  .poke-bio > h2 {
    font-size: 1.5em;
  }
  .type-container {
    position: absolute;
    top: 25px;
    left: 150px;
  }
  .type {
    width: 50px;
    margin-right: 20px;
  }

  .poke-image {
    position: absolute;
    top: 10em;
    width: 20em;
    margin: 0 0 0 20px;
  }
  .poke-HW {
    top: 30em;
    display: flex;
  }
  .poke-HW > p:first-child {
    margin-right: 80px;
  }

  .poke-biodata {
    flex-direction: column;
    top: 33em;
  }
  .poke-stats {
    padding: 10px 5vw 0 5vw;
    width: 100%;
  }
  .poke-stats > div {
    display: flex;
    align-items: center;
    justify-content: baseline;
  }
  .poke-stats > div > div {
    width: fit-content;
    padding: 2px 10px;
    margin-bottom: 20px;
  }
  .poke-info {
    margin-top: -20px;
    width: 100%;
    padding: 0 0 0 5vw;
  }
  .poke-info > h2 {
    margin: 15px 0 0 0;
  }
  .poke-info > p {
    margin: 0;
    font-weight: 500;
    padding: 0 5vw 0 0;
  }
}
