.homepage {
  height: 100vh;
}
.poke-HW {
  position: absolute;
  top: 30vh;
  left: 10vw;
  margin-right: 30px;
}
.poke-image {
  width: fit-content;
  margin: 40px 0 0 25vw;
}
.poke-bio {
  position: absolute;
  top: 30vh;
  left: 70vw;
}
.poke-bio > h1 {
  margin: 0;
  font-size: 3em;
}
.poke-bio > h2 {
  margin: 0 0 20px 0;
  font-size: 2em;
}
.type-container {
  display: flex;
  width: fit-content;
}
.type {
  padding: 5px;
  display: flex;
  margin-right: 5px;
  border-radius: 50%;
  background-color: white;
}

.slider {
  top: 30vh;
  right: 40px;
  display: flex;
  margin-left: 20em;
  position: absolute;
  flex-direction: column;
}
.slider > button {
  margin: 5px;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  font-size: larger;
  background-color: transparent;
}
.slider-btn-1:hover,
.slider-btn-2:hover,
.slider-btn-4:hover,
.slider-btn-5:hover {
  cursor: pointer;
}
.slider-btn-2,
.slider-btn-4 {
  border: 0;
  opacity: 0.75;
}
.slider-btn-3 {
  border-radius: 10px;
  border: 1px solid black;
}
.slider-btn-3:hover {
  cursor: default;
}
.slider-btn-1,
.slider-btn-5 {
  border: 0;
  opacity: 0.5;
}

.poke-biodata {
  width: 100%;
  height: 200px;
  display: flex;
  position: absolute;
  bottom: 0;
}
.poke-info {
  width: 45%;
  padding: 0 0 0 60px;
}
.poke-info > p {
  font-weight: 600;
}
.poke-stats {
  margin: 20px 0 0 80px;
  display: grid;
  column-gap: 100px;
  grid-template-columns: repeat(3, 66fr);
}
.poke-stats > div {
  width: 10em;
  padding: 0 10px;
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px) saturate(170%);
  background-color: rgba(255, 255, 255, 0.25);
}
